
      <div class="restaurant-top-wrapper">
        <form class="detail-form">
            <div class="restaurant-detail-image">
            </div>

            <div class="profile-image-edit edit-form hide">
              <p>写真をアップロード</p>
              <input type="file" name="" value="" accept="image/*" capture="enviroment/*" value="画像をアップロード" class="profile-image-edit">
            </div>
            <div>
            <p class="restaurant-name"><%= @post.restaurant_name %><i class="fas fa-edit name-edit-btn">編集</i></p>
            </div>
            <div class="list-left">
              <% if @post.image.attached? %>
              <%= image_tag @post.image,class: "post-image" %>
              <% end %>
            </div>
      <div class="post-bottom-wrapper">
        <div class="detail-infomation">
          <p>値段<%= @post.cost %></p>
          <p>コメント：<%= @post.comment %></p>
          <p>総合評価：<%= @post.rating %></p>
          <p>味：<%= @post.taste %></p>
          <p>雰囲気<%= @post.vibes %></p>
          <p>コスパ：<%= @post.price %></p>
        </div>
      </div>
