    <div class="container">
        <% if flash[:notice] %>

            <div class="post-flash">
              <%= flash[:notice] %>
            </div>

        <% end %>
        <% if @posts %>
            <div class="posts-list-wrapper">

              <div class="posts-lists">
                  <% @posts.each do |post| %>
                  <div class= "posts-list-item">
                  <h2><%= post.restaurant_name %></h2>
                  住所
                  <p><%= post.restaurant_adress %></p>
                  予算
                  <p><%= post.cost %>円</p>
                  評価
                  <p><%= post.rating %></p>
                  コメント
                  <p><%= post.comment %></p>
                  <p><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                  </div>
                  <% end %>
              </div>


            </div>
        <% else %>
            <div class="index-container">
              <div class="index-wrapper">
                <h2>まだ投稿がありません。<br>行った店を記録してみましょう！</h2>
                <a href="/post/new"><input type="button" name="" value="投稿" class="index-btn"></a>
              </div>
            </div>
        <% end %>

    </div>
