
      <div class="mypage-top-wrapper">
        <form class="mypage-form">
            <div class="profile-image">
              <% if @user.image_url %>
              <img src="<%= @user.image_url %>" alt="" style = "height:200px; width:200px;">
              <% else %>
              <img src="/panda_profile.jpg" alt="" class="user-image">
              <% end %>

            </div>


            <p class="profile-name"><%= current_user.name %><i class="fas fa-edit name-edit-btn"><%= link_to "編集", "/mypage/edit", class: "edit-link" %></i></p>
            <div class="name-edit  edit-form">
              <input type="text" class="profile-name-edit hide" name="profile-name" placeholder="名前を入力">
            </div>
            <a href="/restaurant_map/map"><button type="button" value="行ったお店マップへ" name="button" class="restaurant-map-btn">行ったお店マップへ</button></a>
        </form>
      </div>
      <div class="mypage-bottom-wrapper">
        <div class="tabs">
          <input id="status" type="radio" name="tab_item">
          <label class="tab_item" for="status">ステータス</label>
          <input id="restaurants" type="radio" name="tab_item">
          <label class="tab_item" for="restaurants">行ったお店</label>
          <div class="tab_content" id="status_content">
            <div class="tab_content_description">
              <p class="c-txtsp">=======あなたの現在のステータスは==========================</p>
              <% total_cost = 0 %>
              <% restaurant_sum = 0 %>
              <% total_rating = 0 %>
              <% average_rating = 0.0 %>
              <% @posts.each do |post| %>
                <% total_cost += post.cost %>
                <% total_rating += post.rating %>
                <% restaurant_sum += 1 %>
              <% end %>
              <% average_rating = total_rating.to_f / restaurant_sum.to_f %>
              <% status_panda = "見習いパンダ" %>
              <% if restaurant_sum >= 5 && total_cost < 15000 then%>
                <% status_panda = "新人パンダ" %>
              <% elsif restaurant_sum < 5 && total_cost >= 15000 then %>
                <% status_panda = "グルメなパンダ" %>
              <% end %>
              <% if restaurant_sum >= 10 && total_cost < 10000 then %>
                <% status_panda = "安上がりなパンダ" %>
              <% elsif restaurant_sum >= 10 && total_cost >= 10000 && total_cost < 30000 then %>
                <% status_panda = "量産型パンダ" %>
              <% elsif restaurant_sum >= 10 && total_cost >= 30000 then%>
                <% status_panda = "美食家パンダ" %>
              <% end %>
                <% if restaurant_sum >= 20 && total_cost < 20000 then %>
                  <% status_panda = "食い意地パンダ" %>
              <% elsif restaurant_sum >= 20 && total_cost >= 20000 && total_cost < 50000  && average_rating >= 3.5 then %>
                <% status_panda = "口だけパンダ" %>
              <% elsif restaurant_sum >= 20 && total_cost >= 20000 && total_cost < 50000  && average_rating < 3.5 then%>
                <% status_panda = "辛口パンダ" %>
              <% elsif restaurant_sum >= 20 && total_cost >= 50000  && average_rating < 4.0 then%>
                <% status_panda = "成金パンダ" %>
              <% elsif restaurant_sum >= 20 && total_cost >= 50000  && average_rating >= 4.0 then%>
                <% status_panda = "王族パンダ" %>
              <% end %>
              <p class="customer-rank">現在のあなたの称号は「<%=status_panda%>」だよ</p>
              <p class="customer-total-amount">今までに使った合計金額は<%=total_cost %>円だよ</p>
              <p class="customer-average-rating">今までに行ったお店の平均評価は<%=average_rating%>だよ</p>
              <p class="c-txtsp">=====================================================</p>
            </div>
          </div>          
          <div class="tab_content" id="restaurants_content">
            <div class="tab_content_description">

              <% @posts.each do |post| %>
                <div class="restaurant-lists-item">
                  <% if post.image.attached? %>
                  <%= image_tag post.image,class: "list-item-image" %>
                  <div class="item-name">
                    <p><%= post.restaurant_name %></p>
                    <% if post.rating == 0 %>
                          <p class="star"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                    <% elsif post.rating > 0 && post.rating < 1%>
                          <p class="star"><i class="fas fa-star-half"></i></p>
                    <% elsif post.rating == 1 %>
                          <p class="star"><i class="fas fa-star"></i></p>
                    <% elsif post.rating > 1 && post.rating < 2 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></p>
                    <% elsif post.rating == 2 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <% elsif post.rating > 2 && post.rating < 3 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></p>
                    <% elsif post.rating == 3 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <% elsif post.rating > 3 && post.rating < 4 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></p>
                    <% elsif post.rating == 4 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                    <% elsif post.rating > 4 && post.rating < 5 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></p>
                    <% elsif post.rating == 5 %>
                          <p class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <% end %>                  </div>
                  <% end %>
                </div>
              <% end %>
              <script type="text/javascript">
                $('.restaurant-lists-item').hover(function(){
                  $(this).find('.list-item-image').addClass('img-darken')
                  },
                  function(){
                    $(this).find('.list-item-image').removeClass('img-darken')
                  });
              </script>
            </div>
          </div>
        </div>
      </div>
