<!DOCTYPE html>
<html>
  <head>
    <title>Gourmand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6aa9551f50.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
     <div class="header-left">
       <%= link_to("🐷Gourmand", "/") %>
     </div>
     <div class="header-right">

       <ul>
          <li>
        　  <%= link_to("Gourmandとは", "/home/about") %>
        　</li>
         <a href="/mypage/profile"><li>(写真)○○○○さん</li></a>
         <li>ログアウト</li>
         <a href="/user/login"><li>login</li></a>
         <a href="/user/registration"><li>新規登録</li></a>
         <a href="/post/new"><li>新規投稿</li></a>
         <a href="/post/index"><li>投稿一覧</li></a>

       </ul>

       
     </div>
   </header>

   <% if flash[:notice] %>
     <div class="flash">
       <%= flash[:notice] %>
     </div>
   <% end %>

   <main>
     <%= yield %>
   </main>

    <footer>
      ↑なにか背景画像でも入れるよ<br>
        何を入れるかはまだ未定だよ
    </footer>
  </body>
</html>
